* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#landingPage {
  margin: auto;
  max-width: 600px;
  padding-top: 80px;
}

#heading h1 {
  font-size: 50px;
  padding-bottom: 10px;
}

#heading {
  /* color: rgb(112, 211, 243); */
  color: #c9e2f9;
  text-align: center;
}

#heading span:first-child {
  /* color: rgb(236, 125, 147); */
  color: #fecbcd;
}

#heading span:nth-child(2) {
  /* color: rgb(197, 234, 134); */
  color: #d3f1d0;
}

#heading span:last-of-type {
  /* color: rgb(241, 130, 241); */
  color: #d8d3fc;
}

.p {
  text-align: center;
  font-size: 18px;
  color: rgb(94, 90, 90);
  line-height: 1.5;
  padding-bottom: 30px;
}

#landingPage button {
  font-size: 16px;
  padding: 10px 25px;
  color: ghostwhite;
  /* background-color: rgb(60, 35, 35); */
  background-color: #5e5b51;
  /* border: 1px solid rgb(60, 35, 35); */
  border: 1px solid #5e5b51;
  border-radius: 10px;
  margin-left: 240px;
  margin-bottom: 40px;
  cursor: pointer;
}

.imgsection {
  height: 200px;
}

.imgsection img {
  height: 100%;
  width: 100%;
}

.textbelow {
  line-height: 2;
  background-color: lemonchiffon;
  padding: 20px;
  margin-bottom: 90px;
}

.addlinethrough {
  text-decoration: line-through;
}

.textbelow h3 {
  text-decoration: line-through;
}

.textbelow p {
  text-decoration: line-through;
}

.todo {
  display: flex;
  justify-content: space-between;
}

.todo span {
  font-size: 20px;
}

.div {
  display: flex;
  justify-content: space-between;
}

.inputLabel {
  font-size: 12px;
  padding-left: 2px;
}

.checkbox {
  accent-color: rgb(247, 244, 244);
}

.MAIN {
  display: none;
}

.main2 {
  display: grid;
  /* max-width: 1300px; */
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  grid-template-areas:
    "nav nav nav nav"
    "aside section section  section";
}

nav {
  /* background-color: cadetblue; */
  grid-area: nav;
  padding: 30px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.nav li {
  list-style-type: none;
  font-size: 40px;
}

aside {
  /* background-color: blanchedalmond; */
  grid-area: aside;
  height: auto;
  line-height: 3;
  text-align: justify;
  padding: 30px;
  padding-bottom: 0;
}

aside p {
  cursor: pointer;
}

aside .circle1,
.circle2,
.circle3,
.circle4 {
  cursor: pointer;
}

.aside img {
  margin-top: 45px;
  margin-left: 20px;
  height: 190px;
  width: 60%;
}

section {
  /* background-color: brown; */
  padding: 20px;
  height: 60vh;
  grid-area: section;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* text-align: center; */
}

.circlecontainer {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.box {
  width: 48%;
  height: 160px;
  padding: 20px;
  background-color: #fff9dc;
  margin: 5px;
  /* text-decoration: line-through; */
}

.round {
  display: flex;
  align-items: center;
  /* padding: 40px;  */
}

.study {
  width: 25%;
}

.entertainment {
  width: 46%;
}

.fam {
  width: 26%;
}

.colorsDiv {
  color: #b0b0ac;
  font-style: italic;
}

.deleteTag {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  padding: 2px;
  border: 1px solid red;
  border-radius: 10px;
  height: 20px;
  margin-left: 5px;
  visibility: hidden;
  cursor: pointer;
}

.round:hover .deleteTag {
  visibility: visible;
}

.circle1 {
  width: 20px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  /* margin-top: 11px; */
  /* background-color: rgb(245, 156, 245); */
}

.circle2 {
  width: 20px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 11px;
  background-color: rgba(173, 246, 248, 0.759);
}

.circle3 {
  width: 20px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 11px;
  background-color: rgb(249, 159, 177);
}

.circle4 {
  width: 20px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 11px;
  background-color: rgb(211, 240, 159);
}

.circletask {
  display: flex;
}

.circletask div {
  width: 20px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
}

/* .circletask div:first-child {
  background-color: rgba(173, 246, 248, 0.759);
}

.circletask div:nth-child(2) {
  background-color: rgb(249, 159, 177);
}

.circletask div:last-child {
  background-color: rgb(234, 125, 234);
} */

.circletask2 {
  display: flex;
}

.circletask2 div {
  width: 20px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
}

.circletask2 div:first-child {
  background-color: rgb(249, 159, 177);
}

.circletask2 div:last-child {
  background-color: rgb(234, 125, 234);
}

.add {
  position: absolute;
  margin: 5% 25%;
  width: 50%;
  top: 0;
  height: auto;
  /* background-color: red; */
  background-color: #ffffff;
  padding: 50px;
  border-radius: 30px;
  display: none;
  box-shadow: 0 0 15px 1px #08080861;
}

/* .editTask {
  position: absolute;
  margin: 5% 25%;
  width: 50%;
  top: 0;
  height: auto;
  /* background-color: red; 
  background-color: #ffffff;
  padding: 50px;
  border-radius: 30px;
  display: none;
  box-shadow: 0 0 15px 1px #08080861;
} */

.cancel {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

#cancelp {
  cursor: pointer;
}

.cancel button {
  padding: 8px 30px;
  background-color: rgb(60, 35, 35);
  border: 1px solid rgb(60, 35, 35);
  border-radius: 10px;
  cursor: pointer;
  color: #fffdcf;
}

.add label {
  font-size: 20px;
  color: #3f413f;
  font-weight: 600;
}

.title {
  line-height: 2.5;
  padding-bottom: 20px;
}

.title input {
  padding: 12px;
  width: 100%;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(247, 247, 247);
  border-radius: 10px;
}

.title input::placeholder {
  font-size: 16px;
}

.description {
  line-height: 2.5;
}

#description {
  width: 100%;
  padding: 15px;
  padding-bottom: 100px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(247, 247, 247);
  border-radius: 10px;
  color: #757575;
  font-size: 16px;
  margin-bottom: 10px;
}

.belowtag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

/* .scroll-container {
  display: flex;
  width: 100%;
} */

/* .scroll-container div {
  padding: 15px;
  min-width: 24%;
  height: fit-content;
  cursor: pointer;
} */

.belowtag::-webkit-scrollbar {
  display: none;
}

.bt {
  display: flex;
  justify-content: space-between;
  width: 13%;
}

.circle {
  width: 25px;
  height: 22px;
  border-radius: 50%;
  padding: 10px;
  margin: -2px;
}

.tagsCircle {
  width: 25px;
  height: 22px;
  border-radius: 50%;
  padding: 10px;
  margin: -2px;
  background-color: blueviolet;
  /* display: none; */
}

.modalTagtitle {
  margin-top: 3px;
  margin-left: 1px;
}

.tagsCircle {
  margin: 1px;
  margin-left: 30px;
}

.login {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.login input {
  padding: 20px;
  background-color: #f2f1f9;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
}

.email {
  margin-top: 10px;
}

.password {
  margin-top: 10px;
}

.login button {
  width: 100%;
  padding: 10px 25px;
  font-size: 18px;
  background-color: #504ef3;
  border: 1px solid #504ef3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
}

.signUp {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.signUp input {
  padding: 20px;
  background-color: #f2f1f9;
  border: 1px solid gray;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
}

#suEmail {
  margin-top: 10px;
}

#suPassword {
  margin-top: 10px;
}

.signUp button:first-of-type {
  width: 100%;
  padding: 10px 25px;
  font-size: 18px;
  background-color: #504ef3;
  border: 1px solid #504ef3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
}

.signUp h3 {
  text-align: center;
}

#existingAcc {
  width: 100%;
  padding: 10px 25px;
  font-size: 18px;
  /* background-color: rgb(116, 22, 211); */
  background-color: #f2f1f9;
  border: 1px solid #f2f1f9;
  color: #504ef3;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

#registerAcc {
  width: 100%;
  padding: 10px 25px;
  font-size: 18px;
  /* background-color: rgb(116, 22, 211); */
  background-color: #f2f1f9;
  border: 1px solid #f2f1f9;
  color: #504ef3;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

.login,
.signUp {
  display: none;
}

#add {
  cursor: pointer;
}

#Task {
  cursor: pointer;
}

.edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.edit p {
  font-size: 25px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* left: 50%; */
}

.dropdown-content span {
  float: none;
  color: black;
  padding: 7px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#img {
  display: none;
}

#hideDoneTasks {
  display: none;
}

#hideDoneTasksSpan {
  display: none;
}

.circle2,
.circle3,
.circle4,
.bt2,
.bt3,
.bt4 {
  display: none;
}

#work {
  display: none;
}

#study {
  display: none;
}

#entertainment {
  display: none;
}

.bt3 p {
  margin-left: 10px;
}

.bt4 p {
  margin-left: 10px;
}

#family {
  display: none;
}

#plus {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-size: 20px;
}

#plus p {
  font-size: 26px;
}

#plus span {
  text-wrap: nowrap;
  padding-top: 10px;
}

.unValidated {
  border: 1px solid #f2f1f9;
}

.validate {
  border: 1px solid red !important;
}

.addCategory {
  position: absolute;
  margin: 10% 25%;
  width: 50%;
  top: 0;
  height: auto;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 30px;
  display: none;
  box-shadow: 0 0 15px 1px #08080861;
}

.acCancel {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

#acCancelp {
  cursor: pointer;
}

.acCancel button {
  padding: 8px 30px;
  background-color: rgb(74, 66, 66);
  background: linear-gradient(
    rgb(247, 214, 247),
    rgb(247, 202, 212),
    rgb(246, 206, 246)
  );
  /* border: 1px solid rgb(60, 35, 35); */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fffdcf;
}

.category {
  line-height: 2.5;
  padding-bottom: 20px;
  padding-top: 20px;
}

.category input {
  padding: 12px;
  width: 100%;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(247, 247, 247);
  border-radius: 10px;
}

.title input::placeholder {
  font-size: 16px;
}

#tagheading {
  margin: 2px;
  margin-left: 30px;
  display: none;
}

.cat > div {
  background-color: aqua;
  /* display: none; */
}

@media screen and (max-width: 768px) {
  .round {
    width: 50%;
  }

  #hideDoneTasksSpan {
    padding-left: 2px;
    margin-top: -20px;
    font-size: 15px;
  }

  .entertainment {
    width: 95%;
  }

  .add {
    margin: 10%;
    width: 80%;
    padding: 30px;
    padding-top: 30px;
  }

  #tagheading {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .belowtag {
    font-size: 15px;
    width: 90%;
    cursor: pointer;
  }

  .bt4 {
    margin-left: 50px;
  }

  #img {
    height: 100px;
  }

  .dropdown-content2,
  .dropdown-content4 {
    left: 80%;
  }
}

@media screen and (max-width: 425px) {
  #landingPage {
    max-width: 400px;
    padding-top: 40px;
  }

  #landingPage button {
    margin-left: 140px;
    margin-bottom: 40px;
  }

  .textbelow {
    margin-bottom: 40px;
  }

  .signUp {
    max-width: 360px;
    margin-top: 40px;
  }

  .login {
    max-width: 360px;
    margin-top: 40px;
    padding: 20px;
  }

  .login button {
    margin-left: 110px;
  }

  .nav {
    padding-bottom: 10px;
  }

  aside {
    padding: 20px;
    padding-top: 10px;
  }

  section {
    padding: 20px;
    padding-top: 10px;
  }

  .addCategory {
    margin: 10%;
    width: 80%;
    padding: 20px;
    padding-top: 30px;
  }

  .acCancel {
    font-size: 15px;
  }

  .acCancel button {
    padding: 5px 20px;
  }

  .add {
    margin: 10%;
    width: 80%;
    padding: 20px;
    padding-top: 30px;
  }

  .cancel {
    font-size: 15px;
  }

  .cancel button {
    padding: 5px 20px;
  }

  .round {
    width: 50%;
  }

  .entertainment {
    width: 95%;
  }

  #hideDoneTasksSpan {
    padding-left: 2px;
    margin-top: -20px;
    font-size: 15px;
  }

  #tagheading {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .belowtag {
    font-size: 15px;
    width: 90%;
  }

  .bt4 {
    margin-left: 60px;
  }

  .bt3 p {
    margin-left: 4px;
  }

  .bt4 p {
    margin-left: 3px;
  }

  .fam {
    width: 55%;
  }

  section {
    padding: 0;
    font-size: 15px;
  }

  .box {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .box h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  #img {
    height: 90px;
  }

  .dropdown-content {
    left: 70%;
  }

  .dropdown-content2,
  .dropdown-content4 {
    left: 70%;
  }
}

@media screen and (max-width: 375px) {
  #landingPage {
    max-width: 360px;
  }

  #landingPage button {
    margin-left: 130px;
    margin-bottom: 30px;
  }

  .signUp {
    max-width: 340px;
  }

  .login {
    max-width: 340px;
  }

  .login button {
    margin-left: 100px;
  }

  .belowtag {
    font-size: 12px;
    width: 95%;
  }

  .bt3 p {
    margin-left: 4px;
  }

  .bt4 p {
    margin-left: 4px;
  }

  .entertainment {
    width: 100%;
  }

  .fam {
    width: 55%;
  }

  #img {
    height: 80px;
  }

  .dropdown-content {
    left: 62%;
  }

  .dropdown-content2,
  .dropdown-content4 {
    left: 62%;
  }
}

@media screen and (max-width: 320px) {
  #landingPage {
    max-width: 300px;
    padding-top: 50px;
  }

  .p {
    font-size: 15px;
  }

  #landingPage button {
    font-size: 15px;
    margin-left: 90px;
    margin-bottom: 20px;
  }

  .textbelow {
    line-height: 2;
    background-color: lemonchiffon;
    padding: 20px;
    margin-bottom: 20px;
  }

  .imgsection {
    height: 120px;
  }

  .imgsection img {
    height: 100%;
    width: 100%;
  }

  .signUp {
    max-width: 250px;
    padding: 30px;
    line-height: 2;
    margin-top: 40px;
  }

  #name {
    margin-bottom: 30px;
  }

  #suEmail {
    margin-bottom: 30px;
  }

  .signUp button {
    margin-top: 50px;
  }

  .login {
    max-width: 250px;
    padding: 30px;
    line-height: 2;
    margin-top: 40px;
  }

  .login input {
    padding: 20px;
    background-color: #f2f1f9;
    /* border: 1px solid #f2f1f9; */
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
  }

  .login button {
    margin-left: 50px;
  }

  .main2 {
    display: grid;
    max-width: 300px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas:
      "nav nav nav"
      "aside section section";
  }

  .nav {
    padding-bottom: 20px;
  }

  .nav ul {
    padding-left: 5px;
  }

  .nav li {
    font-size: 30px;
  }

  #plus {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 12px;
  }

  #plus p {
    font-size: 18px;
  }

  #plus span {
    text-wrap: nowrap;
    padding: 2px;
    padding-top: 10px;
  }

  .addCategory {
    margin: 10%;
    width: 80%;
    padding: 20px;
    padding-top: 30px;
  }

  .acCancel {
    font-size: 15px;
  }

  .acCancel button {
    padding: 5px 20px;
  }

  .add {
    margin: 10%;
    width: 80%;
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 10px;
  }

  .cancel {
    font-size: 15px;
  }

  .cancel button {
    padding: 5px 20px;
  }

  .add label {
    font-size: 20px;
    color: #3f413f;
    font-weight: 600;
  }

  .title {
    line-height: 1.5;
  }

  .description {
    line-height: 1.5;
  }

  #description {
    padding: 10px;
    padding-bottom: 60px;
    margin-bottom: 10px;
  }

  aside {
    padding: 20px;
  }

  .round {
    width: 50%;
    font-size: 13px;
  }

  .bt3 p {
    margin-left: 4px;
  }

  .bt4 p {
    margin-left: 4px;
  }

  .entertainment {
    width: 100%;
  }

  .fam {
    width: 55%;
  }

  #hideDoneTasksSpan {
    padding-left: 1px;
    margin-top: -20px;
    font-size: 11px;
  }

  section {
    padding: 0;
    font-size: 12px;
  }

  .box1 {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .box1 h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .box2 {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .box2 h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .box3 {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .box3 h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .box4 {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .box4 h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }

  #tagheading {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .belowtag {
    font-size: 10px;
    width: 95%;
  }

  .bt4 {
    margin-left: 40px;
  }

  .circle {
    width: 10%;
    height: 8px;
  }

  #img {
    height: 70px;
  }

  .dropdown-content {
    left: 62%;
  }

  .dropdown-content2,
  .dropdown-content4 {
    left: 60%;
  }
}
